# =====================================
# Python Cache
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Virtual Environment
# =====================================
venv/
env/
.venv/

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# PyCharm
# =====================================
.idea/

# =====================================
# Operating System Files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Python Testing Cache
# =====================================
.pytest_cache/

# =====================================
# Environment Variables
# =====================================
.env